{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Djamazon</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{% url 'app:index' %}">Djamazon</a></h1>
            <div class="header-menu">
                <span>Point:{{ user.point | intcomma }}</span>
                <span><a href="{%url 'app:fav_products'%}">Favorite</a></span>
                <span><a href="{%url 'app:cart' %}">Cart</a></span>
                <span><a href="">Orderhistory</a></span>
                {%if request.user.is_authenticated%}
                    <span><a href="{% url 'app:logout' %}">Logout</a></span>
                {%else%}
                    <span><a href="{% url 'app:login' %}">Login</a></span>
                    <span><a href="{% url 'app:signup' %}">Newuser</a></span>
                {%endif%}
            </div>
        </div>
    </header>
    <div class="container">
        {% for message in messages %}
        <p class="message-{{message.tags}}">{{message}}</p>
        {%endfor%}
        {% block content %}{% endblock %}
    </div>
</body>
</html>