{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
<title>Title</title>
</head>
<body>
<header>
    <div class="container">
        <h1><a href="{%url 'app:index' %}">Pitcure site</a></h1>
        <div class="header_menu">
            <a href="{%url 'app:photos_new'%}">POST</a>
            {%if request.user.is_authenticated%}
            <a href="{%url 'app:users_detail' request.user.id %}">My page</a>
            <a href="{%url 'app:logout'%}">Logout</a>
            {%else%}
            <a href="{%url 'app:login'%}">Login</a>
            {%endif%}
        </div>
    </div>
</header>

<div class="container">
        {%for message in messages%}
        <p class="message-success">{{message}}</p>
        {%endfor%}
{%block content%}
{%endblock%}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>

