{% extends "app/base.html" %}
{% block content %}

<form action="{% url 'mainapp:plans_new' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

<table>
    <tr>
        <th>タイトル</th>
        <td>{{form.title}}</td>
    </tr>
    <tr>
        <th>集合場所</th>
        <td>{{form.meeting_place}}</td>
    </tr>
    <tr>
        <th>移動手段</th>
        <td>{{form.moving_method}}</td>
    </tr>
    <tr>
        <th>第二ポイント</th>
        <td>{{form.second_place}}</td>
    </tr>
    <tr>
        <th>第三ポイント</th>
        <td>{{form.third_place}}</td>
    </tr>
    <!-- <tr>
        <th>投稿日時</th>
        <td>{{form.created_at}}</td>
    </tr> -->
    </table>
<button type="submit" class="btn">保存</button>
</form>
  
{% endblock %}